/* První navigace na stránce, která zahrnuje phone, Jak nakupovat, obchodní podmínky */
.top-navigation-bar {
    display: none;

}

/* header zahrnuje pozadí celého navigačního panelu, který zakrnuje hlavní navigaci na stránce "Layout" */
#header {
    background-color: #f0950ad6;
};


#header .site-name a img {
    height: 128px;
    position: absolute;
    bottom: 16px;
    max-height: none;
    max-width: none;
}


